@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Questrial", sans-serif;

}

a{
  text-decoration: none !important;
}

.footer a{
  color: black !important;
}

.MuiButtonBase-root{
  cursor: auto !important;
  background-color: transparent !important;
}